body{
    background-color: aquamarine;
}
.table{

}
.table__header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.table__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.342);
    justify-content: center;
    align-items: center;
}
.modal_content{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 16px;
}